<div id="mail_container" style="background-color:lightgray;width:80%;margin:50px auto;padding: 20px">
    <div id="body_mail" class="row" style="background-color:white;margin:0; padding:20px">
        {% block title %}{% endblock %}
        {% block body %}{% endblock %}
    </div>
    <div id="footer" style="text-align: center">

    </div>
</div>




