<div id="mail_container" style="background-color:lightgray;width:80%;margin:50px auto;padding: 20px">
    <div id="body_mail" class="row" style="background-color:white;margin:0; padding:20px">
    </div>
    <div id="footer" style="text-align: center">
        <img src="http://www.u4learn.it/formazione/wp-content/themes/wplms/assets/images/logo.png" style="max-width: 100px;margin-top: 20px;">
        <h5 style="color:gray;margin-top:5px">U4Learn SRL</h5>
        <br>
        <br>
        <h5>COPYRIGHT :copyright: U4LEARN S.R.L.. ALL RIGHTS RESERVED. P.IVA: IT06556030820</h5>
    </div>
</div>




